/Customer-Behavior-Analysis/__pycache__
/Customer-Behavior-Analysis/.streamlit
/Customer-Behavior-Analysis/data
/Customer-Behavior-Analysis/pages/__pycache__
/Customer-Behavior-Analysis/utils/__pycache__